body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #282c34;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://i.imgur.com/lnQm0RN.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="email"] {
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #9b59b6; /* Purple color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8e44ad; /* Darker purple for hover */
}

footer {
    margin-top: 30px;
    font-size: 0.8em;
}