body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="email"] {
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22;
}

footer {
    margin-top: 30px;
    font-size: 0.8em;
}
body {
  background-image: url('https://imgur.com/a/ByetZdN'); /* or absolute URL */
  background-size: cover; /* Makes it fit the screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Avoid repeating the image */
  height: 100vh; /* Covers the full viewport height */
  margin: 0; /* Removes default margin */
}